name: CI

on:
  push:
    branches: master

jobs:
  build_deploy:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - run: sbt assembly
    
    - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '290.0.1'
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - run: gcloud info
  
    - uses: docker/build-push-action@v1.1.0
      with:
        registry: asia.gcr.io/${{ secrets.GCP_PROJECT_ID }}
        repository: btlr
        tags: ${{ github.sha }}
        push: true
