name: CI

on:
  push:
    branches: master

env:
  IMAGE: asia.gcr.io/${{ secrets.GCP_PROJECT_ID }}/btlr:${{ github.sha }}

jobs:
  build_deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '290.0.1'
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - run: |
        sbt assembly
        gcloud auth configure-docker
        docker build -t ${IMAGE} ./
        docker push ${IMAGE} 
      
    - run: |
        gcloud run deploy btlr \
           --image=${IMAGE} \
           --cpu=1 \
           --max-instances=2 \
           --memory=512Mi \
           --platform=managed \
           --port=9000 \
           --service-account=${{ secrets.GCP_SA }} \
           --region=asia-northeast1 
            
